:root {
    --color-bg: white;
    --color-text: #585858;
    --color-text-a-not-visited: #1818A8;
    --color-text-a-hover: black;
    --color-menu-border: gray;
    --color-menu-bg: lightgray;
    --color-border: #f0f0f0;
    --color-hover-light: lightgray;
    --color-text-note: gray;
}
@media (prefers-color-scheme: dark) {
    :root {
        --color-bg: black;
        --color-text: #d8d8d8;
        --color-text-a-not-visited: #d8d8ff;
        --color-text-a-hover: white;
        --color-menu-bg: #181818;
        --color-hover-light: #383838;
    }
    img { filter: invert(1); }
}

body {
    background: var(--color-bg);
}

* {
    font-family: sans-serif;
    font-size: 98%;
    color: var(--color-text);
}

a:not(:visited) {
    color: var(--color-text-a-not-visited);
}

a:hover {
    color: var(--color-text-a-hover);
}

h1 {
    font-size: 150%;
}

h2 {
    font-size: 110%
}

body {
    counter-reset: table_cnt img_cnt;
    max-width: 55em;
    margin: auto;
    padding: 0.35em;
}

#map {
    margin-right: 1em;
    float: left;
}

#map li:first-child a::before {
    content: '<<';
    margin-right: 0.3em;
    display: inline-block;
    text-decoration: none;
}

#map ul {
    display: table;
}

#map li {
    display: table-row;
}

#map li:first-child {
    display: table-caption;
    text-align: right;
}

#map a {
    display: table-cell;
}

#map li a:last-of-type {
    text-align: right;
    padding-left: 0.3em;
}

nav ul {
    list-style-type: none;
    padding-inline: 0;
}

#content nav ul li a::before {
    content: '\21D2';
    margin-right: 0.3em;
    display: inline-block;
    text-decoration: none;
}

#breadcrumb ul {
    display: flow-root;
}

#breadcrumb li {
    float: left;
}

#breadcrumb li:not(:first-child)::before{
    content: '|';
    margin: 0 0.3em;
}

table {
    width: 100%;
    margin-top: 1em;
}

tr:hover {
    background-color: var(--color-hover-light);
}

th, td {
    border: 1px solid var(--color-border);
    text-align: left;
    padding: 0.2em;
}

#index > th, #index > td {
    padding: 0.5em 0.2em;
}

#content {
    display: flex;
    flex-direction:column;
}

section:not(#index, #cscheme, #cscheme1, #cscheme2) td:last-child {
    white-space: nowrap;
}

tfoot tr:not(:first-child) td:first-child,
tbody:not(:only-of-type) tr:not(:first-child) td:first-child {
   padding-left: 1.5em;
}

caption {
    text-align: right;
}

caption::before {
    counter-increment: table_cnt;
    content: 'Таблица ' counter(table_cnt) ': ';
}

section {
    display: flow-root;
}

figure>img {
    max-width: 50em;
}

figure {
    margin: auto;
    padding: 1em;
}
figure:not([class]) {
    width: min-content;
    float: left;
}

figcaption {
    text-align: center;
    counter-increment: img_cnt;
}
figcaption::before {
    content: 'Рис. ' counter(img_cnt) ' - ';
}

#package1, #package2, #cscheme1, #cscheme2 {
    width: 50%;
    min-width: min-content;
    float: left;
    clear: none;
}

#cscheme  table,
#cscheme1 table,
#cscheme2 table {
    width: auto;
}

#cscheme th,
#cscheme1 th,
#cscheme2 th {
    white-space: nowrap;
}

footer {
    clear: both;
    font-size: 70%;
    color: var(--color-text-note);
}

ins {
    text-decoration: inherit;
}
del {
    display: none;
    visibility: hidden;
}

#literature li:not(:last-child)::after {
    content: ';'
}
#literature li:last-child::after {
    content: '.'
}

/* Всплывающие изображения */
a[href$=".jpg"] {
  position: relative;
}

a[href$=".jpg"]::after {
  position: absolute;
  left: 0; bottom: 0;
  visibility: hidden;
  opacity: 0;
  transition: ease 1s;
  content:url('img001a.jpg')
}

a[href$=".jpg"]:hover::after {
  padding-bottom: 2em;
  visibility: visible;
  opacity: 1;
}

/* Всплывающее меню */
#menu_toggle, #map > label {
    display: none;
}

@media only screen and (max-width: 768px) {
    /* menu button */
    #map > label {
        display: flex;
        align-items: center;
        position: relative;
        width: 2em;
        height: 2em;
        top: 0.5em;
        left: 1em;
        cursor: pointer;
        z-index: 1;
    }
    #map > label > span,
    #map > label > span::before,
    #map > label > span::after {
        display: block;
        position: absolute;
        width: 0.3em;
        height: 0.3em;
        border-radius: 0.15em;
        margin: 0 auto;
        background-color: var(--color-menu-border);
    }
    #map > label > span::before {
        content: '';
        top: -0.7em;
    }
    #map > label > span::after {
        content: '';
        top: 0.7em;
    }

    #map > ul {
        display: block;
        position: absolute;
        left: -100%;
        z-index: 1;
        width: calc(100% - 12em);
        list-style: none;
        text-align: center;
        background-color: var(--color-menu-bg);
        opacity: 0;
    }
    /* menu items */
    #map > ul > * {
        display: block;
        padding: 0.8em;
        font-size: 120%;
    }
    #map > ul > *:hover {
        background-color: var(--color-hover-light);
    }
    #map > ul > li {
        display: block;
        width: 100%;
    }

    /* show menu */
    #map > #menu_toggle:checked ~ label > span {
        transform: rotate(45deg);
        width: 100%;
    }
    #map > #menu_toggle:checked ~ label > span::before {
        top: 0;
        transform: rotate(0);
        visibility: hidden;
    }
    #map > #menu_toggle:checked ~ label > span::after {
        top: 0;
        transform: rotate(90deg);
        width: 100%;
    }
    #map > #menu_toggle:checked ~ ul {
        display: block;
        left: 0;
        opacity: 1;
    }

    /* animation */
    #map > label > span,
    #map > label > span::before,
    #map > label > span::after {
        transition-duration: .5s;
    }
    #map > ul {
        transition-duration: .5s;
    }
    #map > ul > * {
        transition-duration: .5s;
    }
}
